#sidebar {
  height:100%;
  /* background-color: #000000f4; */
  background-color: #1c1e26;
  box-shadow: inset -5px 0px 15px #0008;
  width:300px;
  position: absolute;
}

#headshotContainer{
  width:100%;
  text-align: center;
  padding: 30px 0px;
  background-color: #0002;
  border-bottom: 1px solid #b82601;
}

#headshot {
  width:150px;
  height:150px;
}

#nameText{
  font-family: 'Open Sans', sans-serif, Arial, sans-serif;
  font-weight: 600;
  color: #FFF;
  font-size: 30px;
}

#descriptionText{
  font-family: 'Montserrat', sans-serif, Arial, sans-serif;
  font-weight: 200;
  color: #fff;
  font-size: 17px;
}

#navContainer{
  margin: 0px;
}

.navRow > a{
  font-size: 19px;
  color: #fff;
  text-shadow: 0px 1px 3px #0006
}

.nav > li > a {
  display: flex;
  transition: background-color 0.5s ease;
  font-family: "Roboto";
}

.nav-pills > li > a:focus,
.nav-pills > li > a:active,
.nav-pills > li > a:hover{
  background-color: #b82601bb;
}

.nav-pills > li> a:focus > #navSymbol,
.nav-pills > li> a:hover > #navSymbol{
  color:#000;
}

#navSymbol{
  padding-right:10px;
  transition: color 0.7s ease;
  color:#813772;
  font-family: "Roboto";
}

#linkIconContainer{
  position: absolute;
  bottom:0px;
  padding-bottom: 22px;
  padding-top: 22px;
  border-top: 1px solid #FFF2;
  width: 100%;
  height:84px;
  text-align:center;
}

.linkIcons{
  height:100%;
  margin-left: 30px;
  margin-right: 30px;
}

@media only screen and (max-width: 800px){
  #sidebar{
    height:205px;
    /* background-color: #000000f4; */
    background-color: #1c1e26;
    width:100%;
    position: absolute;
    display:flex;
  }

  .nav > li > a {
    transition: background-color 0.5s ease;
    font-family: "Roboto";
    display:flex;
  }

  #headshotContainer{
    width:33%;
    text-align: center;
    padding: 15px 0px;
    background-color: #0002;
    border: 0px;
    border-right: 1px solid #b82601;
  }

  #headshot {
    width:100px;
    height:100px;
  }

  #linkIconContainer{
    position: absolute;
    right:0px;
    border-left: 1px solid #FFF2;
    width: 84px;
    height: 100%;
  }

  .linkIcons{
    width:40px;
    height:40px;
    margin: 20px 15px;
  }

  #navContainer{
    width:calc(67% - 84px);
  }

  #nameText{
    font-size: 24px;
  }

  #descriptionText{
    font-size: 14px
  }
}

@media only screen and (max-height: 575px) {
  #sidebar{
    overflow-y: scroll;
  }

  #linkIconContainer{
    position: block;
    bottom: auto;
  }
}

@media only screen and (max-height: 500px) and (max-width: 800px){
  #sidebar{
    overflow-y: hidden;
  }
}
